.contact-card {
  width: 15rem;
  height: 10rem;
  word-break: break-word;

  position: relative;
  cursor: pointer;
  z-index: 1;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contact-card::before {
  content: "";
  position: absolute;
  top: -1px;
  /* align exactly with border */
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  /* width of glow */
  height: 7px;
  /* glow thickness */
  border-radius: 50%;
  background: radial-gradient(ellipse at center,
      rgba(255, 255, 255, 0.849) 5%,
      rgba(141, 6, 182, 0.6) 40%,
      transparent 100%);
  filter: blur(2px);
  pointer-events: none;
}

.contact-card-content {
  color: rgb(159, 166, 230);
}